/*
 * Estilos reutilizables
 */
 .mayuscula{
 	text-transform: uppercase;
 }
 .centro{
 	text-align: center;
 }
 .negrita{
 	font-weight: bold;
 }
 .medio{
	text-align: center;
}
.blanco{
	color: white;
}
.negro{
	color: black;
}
.gigante{
	font-size: 70px;
}