/*
 * Estilos de tu proyecto
 */
/*MENU*/

.menu{
	background-color: #2C3E50; 
	height: 100px;
}
nav{
	position: fixed;
}
.izq{
	color: white;
	font-size: 26px;
	position:relative;
	left: 60px;
	top: 20px;
	display: inline-block;
}
.der{
	font-size: 14px;
	width: 50%;
	float: right;
	margin-right: 10px;
	padding-top:10px;
}
ul{
	list-style: none;
	margin: 0;
	padding: 15px;
	overflow: hidden;
	position: relative;
	float: right;
	right: 30px;
}
ul li{
	display: inline-block;
}
ul li a{
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
}
a:hover{
	color: #18bc9c;
}

/*Start*/
.start{
	background-color: #18bc9c;
	height: 700px;
}
.imgcentro{
	padding-top: 180px;
}

.normal{
	font-size: 16px;
}
.linea{
	padding: 0;
    border: none;
    border-top: 5px solid white;
    text-align: center;
    display: inline-block;
    width: 110px;
    padding-bottom: 7px;
}
.fa-star{
	background-color: #18BC9C;
	color: white;
	font-size: 28px;
}
